/*@import url("w3.css");*/
@import url("https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/paper/bootstrap.min.css");


body {
    background: rgb(252,252,252);
    color: black;
    /*font-family: Georgia, Palatino, serif;*/
    font-size: 20px;
    /*line-height: 1em;*/
}

p {
    color: black;
    font-weight: 400;
    /*line-height: 1.5em;*/
    /*margin-bottom: 1.2em;*/
    padding: 0;
}

a {
    color: black;
    /*margin: 0;*/
    /*padding: 0;*/
    /*vertical-align: baseline;*/
}

a:hover {
    /*color: blue;*/
    /*text-decoration: blink;*/
}

a:visited {
    color: black;
}



cite {
    font-size: .7em;
    font-style: normal;
    /*color: #333;*/
    /*text-decoration: none;*/
}

/*em {
    color: #b30000;
    font-style: normal;
    line-height: 2em;
    margin: .5em;
    padding-bottom: 0;
}*/
h1, h2, h3{
 font-variant: small-caps;
 }

h1 {
    /*font-variant: small-caps;*/
    line-height: 3.5em;
}

h2 {
    /*font-size: 2em;*/
    /*font-variant: small-caps;*/
    font-weight: bold;
    line-height: 2.2em;
    /*margin: 1.2em 0 1.3em;*/
    /*padding: 0;*/
}

h3 {
    /*font-size: 1.4em;*/
    /*font-variant: small-caps;*/
    font-weight: bold;
    /*line-height: 1.8em;*/
    margin-bottom: 1.1em;
    /*padding: 0;*/
    /*page-break-inside: avoid;*/
}

h4 {
    font-size: 1.2em;
    font-weight: bold;
    /*line-height: 1.5em;*/
    /*margin: 0em 0em 1.2em 0em;*/
    /*padding: 0;*/
}

/*h5 {
    color: green;
    font-variant: normal;
    font-weight: bold;
    font-size: 1em;
    margin: 0 0 0 1.2em;
}

h6 {
    color: red;
    font-size: 80%;
    font-variant: small-caps;
    font-weight: 100;
}*/

hr {
    color: #999;
    margin: 0 auto 0 0;
    text-align: center;
    /*width: 95%;*/
}

img {
    /*display: block;*/
    margin-bottom: 1em;
    margin-left: auto;
    margin-top: 2em;
    margin-right: auto;
    max-width: 85%;
}

li {
    /*line-height: 2em;*/
    /*margin: .5em;*/
}

/*li ul {
    margin-left: 2em;
}*/

ol {
    list-style-type: decimal;
    /*list-style-type:decimal-leading-zero;*/
    /*margin: 0 0 0 2em;*/
    /*padding: 0;*/
}

ol ol {
    list-style-type: lower-alpha;
    /*margin: 0 0 0 2em;*/
}

ol ol ol {
    list-style-type: lower-roman;
    /*margin: 0 0 0 2em;*/
}

/*pre {
    color: #333;
    font-weight: 400;
    line-height: 150%;
    max-width: 800px;
    padding: 0 24px;
    white-space: pre-wrap;
}*/

table {
    /*border: 1px solid #000;*/
    /*border-collapse: collapse;*/
    margin: 0 0 1em 1.2em;
    page-break-inside: avoid;
    width: 50%;
    max-width: 50%;
}

td {
    border: 1px solid #000;
    line-height: 2em;
    padding: .2em .6em;
    vertical-align: middle;
    text-align: center;
    width: 50%;
  /*max-width:10px;*/
}

th {
    background: #99c2ff;
    border: 1px solid #000;
    padding: .9em;
    text-align: center;
}

/*th.m1830-blue {
    background: #99c2ff;
}*/

th.m1830-morespace {
    padding: 2em;
}

/*table.blue th {
    background: #99c2ff;
}*/

tr:nth-child(even) {
    background: #e6f0ff;
}

tr:hover {
    background: #ffffb3;
}

/*ul {
    list-style-position: inside;
    list-style-type: square;
    margin: 0 0 0 2em;
    padding: 0;
}*/

/*ul li {
    margin: 0 0 0 .9em;
    padding: 0;
}*/

.m1830-answer {
    color: #b30000;
    /*font-style: normal;
    line-height: 2em;
    margin: .5em;*/
}


.bg-color1 {
  background-color: #d1c4e9
}

.bg-color2 {
  background-color: #d1c4e9
}

/*.m1830-body-container {
    margin: 0 auto;
    max-width: 960px;
    padding: 1.2em;
}*/

cite.cc {
    background: url(cc-logo.jpg) no-repeat;
    background-size: contain;
    padding-left: 1.6em;
}

/*.m1830-desmos-img {
    display: block;
    margin-bottom: 1em;
    margin-left: auto;
    margin-top: 2em;
    margin-right: auto;
    max-width: 85%;
}*/

/*.m1830-graph {
    width: 95%;
    height: 400px;
}*/

/*.m1830-img-med {
    max-width: 55%;
}*/

/*.m1830-img-sm {
    max-width: 30%;
}*/

/*.m1830-opennav {
    position: fixed;
    top: 0.3em;
    left: 0;
}*/

.graph {
  width: 95%;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
}

img.desmosicon {
  width: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.m1830-problem-text {

    /*font-style: normal;
    line-height: 2em;*/
    /*margin: .5em;*/
}
/*
.m1830-problem {}

.m1830-section {}*/

.m1830-solution {
    color: blue;
    /*font-style: normal;
    line-height: 2em;
    margin: .5em;*/
}

.m1830-step {
    margin: 0em 0 2em 0;
}
.m1830-table-wide{
  width: 90%;
  max-width: 90%;
}

/*only used once*/
.m1830-table-wide td{
text-align: left;
}

var.fontnormal{
    font-variant: normal;
}

/*@media print {
    body {
        background: none;
        font-size: 16px;
    }
    a {
        text-decoration: none;
        content: none;
    }
    a[href]:after {
        content: none;
    }

    .m1830-section {
        page-break-before: always;
    }
    .m1830-problem {
        page-break-inside: avoid;
    }
    .m1830-unit {
        page-break-before: always;
    }
    iframe {
        display: none;
    }
    img {
        display: block;
        page-break-inside: avoid;
    }
    video {
        display: none;
    }
}*/
