@media print {
    body {
        background: none;
          font-size: 16px;  
        
    }

    /* adding space to the right */
/* 
    .container{
        padding-right: 3.in;
    } */

    a {
        text-decoration: none;
        content: none;
    }
    a[href]:after {
        content: none;
    }

    article.hw{
        page-break-before: always;

    }
    .m1830-section {
        page-break-before: always;
    }
    .m1830-problem {
        page-break-inside: avoid;
    }
    ol li p strong {
        text-decoration: underline;
        page-break-before: always;
    }
    .m1830-pagebreak {
      page-break-before: always;
    }
    .m-buttons, .add-resources  {
        display: none;
    }
    iframe {
        display: none;
    }
    img {
        display: block;
        page-break-inside: avoid;
        max-width: 400px !important;
        margin-left: 0;
    }
    video {
        display: none;
    }
    .m1830-answer *, .m1830-answer *:before, .m1830-answer *:after {
        color: #b30000 !important;
    }

    .m1830-hw-answer *, .m1830-hw-answer *:before, .m1830-hw-answer *:after{
        color: #b30000 !important;
    }

    .m1830-solution *, .m1830-hw-solution * {
        color: blue !important;
    }



      /* comment out this area to print everything  */
         .m1830-answer, .m1830-solution {
        display: block;
         visibility: hidden;
    }

    .m1830-hw-answer, .m1830-hw-solution, .m1830-answer img, .m1830-solution img {

     display: none;
    }       
 
 /* until here  */

} 
