@media print {
    body {
        background: none;
        font-size: 16px;
    }
    a {
        text-decoration: none;
        content: none;
    }
    a[href]:after {
        content: none;
    }
    .m1830-section {
        page-break-before: always;
    }
    .m1830-problem {
        page-break-inside: avoid;
    }
    ol li p strong {
        text-decoration: underline;
        page-break-before: always;
    }
    /*.m1830-unit {
        page-break-before: always;
    }*/
    /*strong {
      page-break-before: always;
    }*/
    iframe {
        display: none;
    }
    img {
        display: block;
        page-break-inside: avoid;
    }
    video {
        display: none;
    }
}
