@media print {
    body {
        background: none;
        font-size: 16px;
    }
    a {
        text-decoration: none;
        content: none;
    }
    a[href]:after {
        content: none;
    }
   
    article.hw{
        page-break-before: always;
        
    }
    /*.m1830-section {
        page-break-before: always;
    }*/
    .m1830-problem {
        page-break-inside: avoid;
    }
    ol li p strong {
        text-decoration: underline;
        page-break-before: always;
    }
    .m1830-pagebreak {
      page-break-before: always;
    }
    iframe {
        display: none;
    }
    img {
        display: block;
        page-break-inside: avoid;
        max-width: 400px !important;
        margin-left: 0;
    }
    video {
        display: none;
    }
    .m1830-answer, .m1830-solution {
        visibility: hidden;
    }

    .m1830-hw-answer, .m1830-hw-solution {
     display: none;
    }

    .m1830-answer img, .m1830-solution img {
    display:none;
    }
}

 